
@use "sass:math";
@use './abstracts' as *;
@forward './base';

// Common

body {
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.is-hidden {
    visibility: hidden;
}

// Header

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

h1 {
    font-weight: 800;
    font-size: toREM(60);
    letter-spacing: 5px;
    color: $white;
}

// Main

main {
    flex-grow: 1;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.input__box, .output__box {
    padding: 30px 40px 50px;
    background-color: $black;
    box-shadow: $shadow;
    border-radius: $smooth-radius;
    flex-basis: 45%;
}

h2 {
    color: $white;
    font-weight: 700;
    font-size: toREM(35);
    text-align: center;
}

.form__field {
    margin-top: 25px;
    width: 100%;
    position: relative;

     p {
        font-weight: 400;
        line-height: 1.8;
        font-size: toREM(14);
        color: $gray;
        opacity: 0.8;

        strong {
            color: $red;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
     }
}

textarea, input {
    resize: none;
    outline: 0;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    background-color: $light-blue;
    border: 2px solid $white;
    font-size: toREM(18);
    line-height: 1.5;
    color: $white;
    box-shadow: $shadow;
    border-radius: $smooth-radius;

    &:focus, &:active, &:not(:placeholder-shown) {
        border-color: $red;

        & + label {
            left: 5px;
            top: -20px;
        }
    }
}

input {
    font-weight: 600;
}

textarea::-webkit-scrollbar { width: 5px; }

textarea::-webkit-scrollbar-track { background-color: transparent; }

textarea::-webkit-scrollbar-thumb {
    background-color: rgba( $gray, 0.5 );
    border-radius: 12px;
}

.input__text {
    height: 165px;
}

.output__text {
    height: 325px;
}

.form__subparent {
    display: flex;
    justify-content: space-between;
}

.form__subfield {
    position: relative;
    width: calc(50% - 10px);
    margin-top: 10px;
}

.btn {
    height: 50px;
    width: 100%;
    background-color: $red;
    font-size: toREM(18);
    font-weight: 700;
    color: $white;
    letter-spacing: 2px;
    box-shadow: $shadow;
    border-radius: $smooth-radius;

    &:hover, &:focus, &:active {
        background-color: lighten($red, 3);
    }
}

label {
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: 500;
    font-size: toREM(15);
    color: $white;
    pointer-events: none;
    opacity: 0.8;
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
}

.mt-10 {
    margin-top: 10px;
}

// Footer

footer {
    padding: 30px 0;

    p, small {
        font-size: toREM(16);
        font-weight: 400;
        color: $white;
    }

    a {
        color: $red;
        font-weight: 600;
        margin-left: 6px;

        &:hover {
            text-decoration: underline;
        }
    }

    svg {
        position: relative;
        top: 6px;
        left: 6px;
    }
}

// Alert

$start-width: 50px;
$end-width: 300px;

.alert {
    position: fixed;
    top: 30px;
    width: $end-width;
    height: 60px;
    left: calc(100vw - 330px);
    background-color: $black;
    box-shadow: $shadow;
    border-radius: $smooth-radius;
    padding: 15px 25px;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    &.is-shown {
        display: flex;
        animation:
                alert-open 0.8s ease-in-out both,
                glow 0.8s linear 0.8s infinite alternate;
    }

    &.is-removing {
        display: flex;
        animation: alert-close 0.8s ease-in-out both;
    }
}

@keyframes alert-open {
    0% {
        top: -75px;
        width: $start-width;
    }

    60% {
        top: 30px;
        width: $start-width;
    }

    100% {
        top: 30px;
        width: $end-width;
    }
}

@keyframes alert-close {
    0% {
        top: 30px;
        width: $end-width;
    }

    40% {
        top: 30px;
        width: $start-width;
    }

    100% {
        top: -75px;
        width: $start-width;
    }
}

.alert__text {
    font-size: toREM(15);
    font-weight: 600;
    line-height: 1.8;
    color: $gray;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;

    .is-shown & {
        animation: text-open 0.8s ease-in-out both;
    }

    .is-removing & {
        animation: text-close 0.8s ease-in-out both;
    }
}

@keyframes text-open {
    0% {
        width: 0;
    }

    60% {
        width: 0;
    }

    100% {
        width: fit-content;
    }
}

@keyframes text-close {
    0% {
        width: fit-content;
    }

    40% {
        width: fit-content;
    }

    100% {
        width: 0;
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px -2px rgba($black, 0.25);
    }

    to {
        box-shadow: 0 0 10px 2px rgba($black, 0.5);
    }
}

.alert__close {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        opacity: 0.8;
    }

    .is-shown & {
        animation: text-open 0.8s ease-in-out both;
    }

    .is-removing & {
        animation: text-close 0.8s ease-in-out both;
    }
}

.slide-down { position: relative; animation: slide 750ms ease-out; }

@keyframes slide
{
    from { transform: translateY(-100px); opacity: 0; }

    to { transform: translateY(0); opacity: 1; }
}